[package]
name = "semaphore"
version = "0.1.0"
authors = [
    "Remco Bloemen <remco@worldcoin.org>",
    "Philipp Sippl <philipp@worldcoin.org>",
]
description = "Rust support library for Semaphore"
keywords = ["worldcoin", "protocol", "signup"]
categories = ["cryptography"]

edition.workspace = true
homepage.workspace = true
license.workspace = true
repository.workspace = true

[workspace]
members = ["crates/*"]

[workspace.package]
edition = "2021"
homepage = "https://github.com/worldcoin/semaphore-rs"
license = "MIT"
repository = "https://github.com/worldcoin/semaphore-rs"

[features]
depth_16 = [
    "semaphore-depth-config/depth_16",
    "semaphore-depth-macros/depth_16",
]
depth_20 = [
    "semaphore-depth-config/depth_20",
    "semaphore-depth-macros/depth_20",
]
depth_30 = [
    "semaphore-depth-config/depth_30",
    "semaphore-depth-macros/depth_30",
]

[[bench]]
name = "lazy_merkle_tree"
harness = false

[[bench]]
name = "cascading_merkle_tree"
harness = false

[dependencies]
ark-bn254 = { version = "0.3.0" }
ark-circom = { git = "https://github.com/gakonst/ark-circom", rev = "a93c8b0", features = [
    "circom-2",
] }
ark-ec = { version = "0.3.0", default-features = false, features = [
    "parallel",
] }
ark-ff = { version = "0.3.0", default-features = false, features = [
    "parallel",
    "asm",
] }
ark-groth16 = { git = "https://github.com/arkworks-rs/groth16", rev = "765817f", features = [
    "parallel",
] }
ark-relations = { version = "0.3.0", default-features = false }
ark-std = { version = "0.3.0", default-features = false, features = [
    "parallel",
] }
color-eyre = "0.6"
hex = "0.4.0"
hex-literal = "0.4"
num-bigint = { version = "0.4", default-features = false, features = ["rand"] }
once_cell = "1.8"
rand = "0.8.4"
rayon = "1.5.1"
itertools = "0.12.0"
ruint = { version = "1.12.1", features = [
    "serde",
    "num-bigint",
    "ark-ff",
    "bytemuck",
] }
semaphore-depth-config = { path = "crates/semaphore-depth-config" }
serde = "1.0"
sha2 = "0.10.1"
thiserror = "1.0.0"
tiny-keccak = { version = "2.0.2" }
wasmer = { version = "2.0" }
semaphore-depth-macros = { path = "crates/semaphore-depth-macros" }
zeroize = "1.6.0"
mmap-rs = "0.6.1"
bincode = "1.3.3"

# Use the same `ethers-core` version as ark-circom
# TODO: Remove
ethers-core = { git = "https://github.com/gakonst/ethers-rs", default-features = false }
bytemuck = "1.13.1"
ethabi = "18.0.0"

[dev-dependencies]
serial_test = "3"
criterion = { version = "0.5", features = ["async_tokio", "html_reports"] }
bincode = "1.3.3"
proptest = "1.0"
rand_chacha = "0.3.1"
serde_json = "1.0.79"
tempfile = "3.0"
tiny-keccak = "2.0.2"
tracing-test = "0.2"

[build-dependencies]
color-eyre = "0.6"
enumset = "1.0.8"
reqwest = { version = "0.11", features = ["blocking"] }
wasmer = { version = "2.0" }
wasmer-compiler-cranelift = { version = "2.2.1", optional = true }
semaphore-depth-config = { path = "crates/semaphore-depth-config" }

[profile.release]
codegen-units = 1
lto = true
panic = "abort"
opt-level = 3

# Compilation profile for any non-workspace member.
# Dependencies are optimized, even in a dev build. This improves dev performance
# while having neglible impact on incremental build times.
[profile.dev.package."*"]
opt-level = 3
