[package]
name = "semaphore-depth-config"
version = "0.1.0"
publish = false

edition.workspace = true
homepage.workspace = true
license.workspace = true
repository.workspace = true

[features]
depth_16 = []
depth_20 = []
depth_30 = []
